{{view App.CreateTodoView id="new-todo" placeholder="What needs to be done?"}}

<div id="stats">
  <button {{ action "clearCompletedTodos" }}>Clear Completed Todos</button>
  
  {{ remaining }} remaining
</div>

<label>
{{view Ember.Checkbox checkedBinding="allAreDone" disabledBinding="isEmpty"}}
Mark all as done
</label>

<ul>
  {{#each todo in controller}}
    <li {{bindAttr class="todo.isDone"}}>
      {{view Ember.Checkbox checkedBinding="todo.isDone"}} {{ todo.title }}
    </li>
  {{/each}}
</ul>